@layer vuetify-overrides {

  code,
  pre,
  .v-code {
    font-family: var(--font-mono);
  }
}

@layer components {
  .centered-input input {
    text-align: center;
  }

  .background-ease-in-out {
    transition: background-color 0.5s ease-in-out;
  }

  .highlight-primary {
    background-color: rgba(var(--v-theme-primary), 0.1);
  }
}